body {
  padding-top: 100px;
}
.error {
  color:red;
}

.description {
  color:grey;
  font-style: italic;
  font-weight: normal;
}

.navbar-default .navbar-header .navbar-brand {
  color: #00338C;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}
