{% load staticfiles %}
{% load i18n %}

<h2> {{ request.user.first_name }} {{ request.user.last_name }}</h2>
{% if applications %}
<br>
<table class="table table-striped table-hover">
    <tr>
        <th>Création</th>
        <th>Etude demandée</th>
    </tr>
    {% for application in applications%}
    <tr>
        <td>{{ application.creation_date | default_if_none:''|date:"j/m/Y" }}</td>
        <td><a href="{% url 'application_view' application.id %}">{{ application.offer_year.title }}</a></td>
    </tr>
    {% endfor%}
</table>
{%endif%}
<br>
<a href="{% url 'offer_selection' %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Introduire une nouvelle demande</a>