{% load staticfiles %}
{% load i18n %}
{% load math %}

<div id="pnl_national_education_{{curriculum.academic_year}}">
    <div>
        <br>
        <label>{% trans 'education_community' %}</label>
        <br>
        {% if curriculum.national_education %}
        {%  trans curriculum.national_education %}
        {% else %}
            -
        {% endif %}
    </div>

    <div id="pnl_national_detail_{{curriculum.academic_year}}">
        <div id="pnl_local_university_{{curriculum.academic_year}}">
            <div id="pnl_universtity_{{curriculum.academic_year}}">
                <label>{% trans 'university' %}</label>
                <select class="form-control"
                        id="slt_french_universities_{{curriculum.academic_year}}"
                        name="national_institution_french_{{curriculum.academic_year}}">
                    <option value="-">-</option>
                    {% for university in local_universities_french %}
                    <option value="{{ university.id }}" >
                        {{ university }}
                    </option>
                    {% endfor %}
                </select>

                {%if national_institution_french_msg%}<span class="error" style="margin-left:5px;">{{national_institution_french_msg}}</span>{%endif%}
                <select class="form-control"
                        id="slt_dutch_universities_{{curriculum.academic_year}}"
                        name="national_institution_dutch_{{curriculum.academic_year}}">
                    <option value="-">-</option>
                    {% for university in local_universities_dutch %}
                    <option value="{{ university.id }}" >
                        {{ university }}
                    </option>
                    {% endfor %}
                </select>

            </div>
            <div class="row" id="pnl_domain_university_{{curriculum.academic_year}}">
                <br>
                <div class="col-md-4">
                    <label>{% trans 'domain' %}</label>
                    <div>
                        <select class="form-control"
                                id="slt_domain_{{curriculum.academic_year}}"
                                name="domain_{{curriculum.academic_year}}">
                            <option value="-">-</option>
                            {% for domain in domains %}
                            <option value="{{ domain.id }}" >
                                {{ domain }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="col-md-5">
                    <div id="pnl_subdomain_{{curriculum.academic_year}}">
                        <label>{% trans 'subdomain' %}</label>
                        <div>
                            <select class="form-control"
                                    id="slt_subdomain_{{curriculum.academic_year}}"
                                    name="subdomain_{{curriculum.academic_year}}">
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>{% trans 'grade_type' %}</label>
                    <div>
                        <select class="form-control"
                                id="slt_grade_type_{{curriculum.academic_year}}"
                                name="grade_type_{{curriculum.academic_year}}">
                            <option value="-">-</option>
                            {% for grade_type in grade_types %}
                            <option value="{{ grade_type.id }}"
                                   >{{ grade_type }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div id="pnl_local_high_education_{{curriculum.academic_year}}">
            <br>
            <label>{% trans 'establishment' %}</label>
            <br>
            {{ curriculum.national_institution.name }}, {{ curriculum.national_institution.city }}
            <br>
        </div>
        <br>
        <div class="row" id="pnl_domain_no_university_{{curriculum.academic_year}}">
            <div class="col-md-4">
                <label>{% trans 'domain' %}</label>
                <br>
                {{ curriculum.domain.name | default_if_none:'-'}}

            </div>
            <div class="col-md-3">
                <label>{% trans 'grade_type' %}</label>
                {{ curriculum.grade_type.name   | default_if_none:'-'}}
            </div>
            <div class="col-md-5">
                <label>{% trans 'study_systems' %}</label>
                <br>

                {% if  curriculum.study_system %}
                    {% if  curriculum.study_system = '-'%}
                        {%trans 'undefined'%}
                    {% endif %}
                    {% if  curriculum.study_system = 'SOCIAL_ADVANCEMENT'%}
                        {%trans 'social_advancement'%}
                    {% endif %}
                    {% if  curriculum.study_system = 'FULL_EXERCISE'%}
                        {%trans 'full_exercise'%}
                    {% endif %}

                {% else %}
                    -
                {% endif %}
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>{% trans 'question_domain' %}</label>
            <br>
            {% if curriculum.diploma_title and not curriculum.diploma_title = '' %}
                {% trans 'no'%}
            {% else %}
                {% trans 'yes'%}
            {% endif %}
        </div>

        <div>
           <label>{% trans 'question_domain_title' %}</label>
            <br>
            {{ curriculum.diploma_title  | default_if_none:'-' }}
        </div>
        <br>
        <div class="form-group">
            <label>{% trans 'question_year_diploma' %}</label>
            <br>
            {% if curriculum.diploma%}
                {% trans 'yes'%}
            {% else %}
                {% trans 'no'%}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">
                <span><label>{% trans 'obtained_result' %}</label></span>
                <br>
                {% if curriculum.result %}
                    {% if curriculum.result = 'SUCCEED' %}
                        {% trans 'succeed_result' %}
                    {% endif %}
                    {% if curriculum.result = 'FAILED' %}
                        {% trans 'failed' %}
                    {% endif %}
                    {% if curriculum.result = 'NO_RESULT' %}
                        {% trans 'no_result' %}
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </div>
            <div class="col-md-3">
                <label>{% trans 'credits_enrolled' %}</label>
                <br>
                {{ curriculum.credits_enrolled | default_if_none:'-' }}
            </div>
            <div class="col-md-3">
                <label>{% trans 'credits_acquired' %}</label>
                <br>
                {{ curriculum.credits_obtained  | default_if_none:'-' }}
            </div>
        </div>
        <br>
        <label>{% trans 'original_of' %}</label>
        <br>
        <div class="row"
             id="pnl_diploma_files_{{curriculum.academic_year}}">

            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'diploma'%} - {% trans 'recto'%}"
                        id="bt_upload_file_curriculum_diploma_recto_{{curriculum.academic_year}}" style="width:250px;">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'diploma'%} - {% trans 'recto'%}
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'diploma'%} - {% trans 'verso'%}"
                        id="bt_upload_file_curriculum_diploma_verso_{{curriculum.academic_year}}"
                        style="width:250px;">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'diploma'%} - {% trans 'verso'%}
                </button>
            </div>
            <br>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'transcript'%} - {% trans 'recto'%}"
                        id="bt_upload_file_curriculum_transcript_recto_{{curriculum.academic_year}}"
                        style="width:250px;">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'transcript'%} - {% trans 'recto'%}
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#pnl_upload_file_modal"
                        title="{% trans 'transcript'%} - {% trans 'verso'%}"
                        id="bt_upload_file_transcript_diploma_verso_{{curriculum.academic_year}}" style="width:250px;">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    {% trans 'transcript'%} - {% trans 'verso'%}
                </button>
            </div>
        </div>
    </div>
</div>