{% load staticfiles %}
{% load i18n %}

<input type="hidden"
       value="{{pnl_other_error}}"
       id="hdn_pnl_other_error_{{curriculum.academic_year}}">
<div id="pnl_other_{{curriculum.academic_year}}">
    <br>
    <label> {% trans 'activity_type'%}</label>
    <br>
    {% if curriculum.activity_type  %}
        {%  trans curriculum.activity_type %}
    {% else %}
        -
    {% endif %}

    <div class="row" id="pnl_activity_detail_{{curriculum.academic_year}}">
        <br>
        <div class="col-md-6">
            <label>{% trans 'question_activity' %}</label>
            <br>
            {{ curriculum.activity   | default_if_none:'-'}}
        </div>
        <div class="col-md-6">
            <label>{% trans 'question_activity_place' %}</label>
            <br>
            {{ curriculum.activity_place   | default_if_none:'-'}}

        </div>
    </div>
    <div id="pnl_onem_{{curriculum.academic_year}}" >
        <br>
        <label>{% trans 'onem_needed' %}</label>

        <button type="button" class="btn btn-default"
                title="{% trans 'onem_needed'%}"
                id="bt_upload_onem_file_{{curriculum.academic_year}}"
                style="width:250px;">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {% trans 'click_to_add'%}
        </button>
    </div>
</div>
