{% load dictionnary %}
{% load i18n %}

<div class="panel panel-default"
     id="pnl_admission_exam">
    <div class="panel-heading">{% trans 'admission_exam'%}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <label>{% trans 'question_admission_exam' %}</label>
                <br>
                {% if admission_exam %}
                    {% trans 'yes'%}
                {% else %}
                    {% trans 'no'%}
                {% endif %}
            </div>
        </div>
        <div id="pnl_admission_exam_detail"
             style="{%if admission_exam %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
            <div class="form-inline">
                <br>
                <label>{% trans 'question_date_session' %}</label>
                <br>
                {%  if admission_exam.exam_date  %}
                    {{admission_exam.exam_date | default_if_none:'-' |date:"j/m/Y" }}
                {% else %}
                    -
                {% endif %}
                <br>
                <br>
                <label>{% trans 'question_institution_name' %}</label>
                <br>
                {{admission_exam.institution | default_if_none:'-'}}
            </div>
            <br>
            <label>{% trans 'question_exam_type' %}</label>
            <br>
            {{admission_exam.admission_exam_type | default_if_none:'-'}}

            <br>

            <br>
            <label>{% trans 'which_result' %}</label>
            <br>
            {% if  admission_exam.result %}
                {% if  admission_exam.result = 'LOW' %}
                    {% trans 'low_result' %}
                {% endif %}
                {% if  admission_exam.result = 'MIDDLE' %}
                    {% trans 'middle_result' %}
                {% endif %}
                {% if  admission_exam.result = 'HIGH' %}
                    {% trans 'high_result' %}
                {% endif %}
            {% else %}
                -
            {% endif %}
            <br>
            <br>
            <label> {% trans 'file' %} </label>
            <br>
            &nbsp;&nbsp;
             {%if admission_exam_file %}
                 <a href="../../../../../upload/download/{{ admission_exam_file.id }}" target="_blank">
                     {% trans  admission_exam_file.document_file.description %}
                 </a>
             {%else%}
                -
             {%endif%}
        </div>

    </div>
</div>