{% load dictionnary %}
{% load staticfiles %}
{% load i18n %}

<div id="pnl_foreign_detail">
    <div>
        <br>
        <label>{% trans 'international_diploma_question'%}</label>
        <br>
        {% if secondary_education.international_diploma = 'NATIONAL' %}
            {% trans 'baccalaureat_national' %}
        {% endif %}
        {% if secondary_education.international_diploma = 'EUROPEAN' %}
            {% trans 'baccalaureat_european' %}
            <img src="{% static 'img/schola_europaea.jpg' %}" height="50px">
        {% endif %}
        <br>
        {% if secondary_education.international_diploma = 'INTERNATIONAL' %}
            {% trans 'baccalaureat_international' %}
            <img src="{% static 'img/ib-world-school.png' %}" height="50px">
        {% endif %}

        <br><br>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>{%trans 'awarding_country' %}</label>
            <br>
            {{ secondary_education.international_diploma_country.name | default_if_none:'-'}}
        </div>
        <div class="col-md-7">
            <label >{% trans 'linguistic_regime'%}</label>
            <br>
            {{ secondary_education.international_diploma_language | default_if_none:'-'}}
        </div>
    </div>
    <br>

    <div id="pnl_equivalence"
          style="{%if secondary_education.international_diploma = 'NATIONAL' %}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
        <br>
        <label>{% trans 'equivalence_question' %}</label>
        <br>
        <div class="form-group" >
            <label class="radio-inline">
            <input type="radio"
                   name="international_equivalence"
                   id="rdb_international_equivalence_yes"
                   value="YES"
                   class="radio-inline"
                   disabled>&nbsp;&nbsp;{% trans 'yes' %}</label>

            <label class="radio-inline">
            <input type="radio"
                   name="international_equivalence"
                   id="rdb_international_equivalence_no"
                   value="NO"
                   class="radio-inline"
                   disabled>&nbsp;&nbsp;{% trans 'no' %}</label>

            <label class="radio-inline">
            <input type="radio"
                   name="international_equivalence"
                   id="rdb_international_equivalence_in_progress"
                   value="DEMANDED"
                   class="radio-inline"
                   disabled>&nbsp;&nbsp;{% trans 'demanded' %}</label>

        </div>
        <br><br>
        {% trans 'file_equivalence_instructions'%}<a target="_blank" href="http://www.equivalences.cfwb.be/">CFWB</a>.
        <br><br>
        {%if equivalence_file%}
            <button type="button" class="btn btn-success"
                    title="{% trans 'modify'%} {% trans 'file_equivalence' %}"
                    id="bt_load_doc_EQUIVALENCE"
                    data-toggle="modal" data-target="#pnl_upload_documents">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"
                          id="spn_bt_load_doc_EQUIVALENCE"></span> {% trans 'file_equivalence_btn_modify' %}
            </button>
        {%else%}
            <button type="button" class="btn btn-default"
                    title="{% trans 'add'%} {% trans 'file_equivalence' %}"
                    id="bt_load_doc_EQUIVALENCE"
                    data-toggle="modal" data-target="#pnl_upload_documents">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"
                          id="spn_bt_load_doc_EQUIVALENCE"></span> {% trans 'file_equivalence_btn' %}
            </button>
        {%endif%}
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'result'%}</div>
        <div class="panel-body">
            <label>{% trans 'which_result'%}</label>
            <br>
            {% if secondary_education.result %}
                {%  trans  secondary_education.result %}
            {% else %}
                -
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{%trans 'file_copy_add_instruction'%}</div>
        <div class="panel-body">
            {%trans 'file_copy_help_instruction'%}
            <br>
            <br>
            <label>{% trans 'original_of' %}</label>
            <br>
            <ul>
                {% if international_diploma_recto or international_diploma_verso or high_school_scores_transcript_recto or high_school_scores_transcript_verso%}
                    {%if international_diploma_recto %}
                        <li>
                            <a href="../../../../../upload/download/{{ international_diploma_recto.id }}" target="_blank">
                                {% trans 'high_school_diploma'%} - {% trans 'recto'%}
                            </a>
                        </li>
                    {% endif %}
                    {%if international_diploma_verso %}
                        <li>
                            <a href="../../../../../upload/download/{{ international_diploma_verso.id }}" target="_blank">
                                {% trans 'high_school_diploma'%} - {% trans 'verso'%}
                            </a>
                        </li>
                    {% endif %}
                    {%if high_school_scores_transcript_recto %}
                        <li>
                            <a href="../../../../../upload/download/{{ high_school_scores_transcript_recto.id }}" target="_blank">
                                {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}
                            </a>
                        </li>
                    {% endif %}
                    {%if high_school_scores_transcript_verso %}
                        <li>
                            <a href="../../../../../upload/download/{{ high_school_scores_transcript_verso.id }}" target="_blank">
                                {% trans 'high_school_diploma_transcript'%} - {% trans 'verso'%}
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </ul>

            <div id="pnl_translation">
                <label>{% trans 'high_school_diplome_translation'%}</label>
                <br>
                {%if translated_international_diploma_recto or translated_international_diploma_verso or translated_high_school_scores_transcript_recto or translated_high_school_scores_transcript_verso or translated_international_diploma_recto or translated_international_diploma_verso or translated_high_school_scores_transcript_recto or translated_high_school_scores_transcript_verso %}
                    <ul>
                        {%if translated_international_diploma_recto%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_international_diploma_recto.id }}" target="_blank">
                                    {% trans 'high_school_diploma'%} - {% trans 'recto'%}
                                </a>
                            </li>
                        {%endif%}
                        {%if translated_international_diploma_verso%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_international_diploma_verso.id }}" target="_blank">
                                    {% trans 'high_school_diploma'%} - {% trans 'verso'%}
                                </a>
                            </li>
                        {%endif%}
                        {% if translated_high_school_scores_transcript_recto%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_high_school_scores_transcript_recto.id }}" target="_blank">
                                    {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}
                                </a>
                            </li>
                        {%endif%}
                        {%if translated_high_school_scores_transcript_verso%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_high_school_scores_transcript_verso.id }}" target="_blank">
                                    {% trans 'high_school_diploma_transcript' %} - {% trans 'verso'%}
                                </a>
                            </li>
                        {%endif%}
                        {%if translated_international_diploma_recto%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_international_diploma_recto.id }}" target="_blank">
                                    {% trans 'high_school_diploma'%} - {% trans 'recto'%}
                                </a>
                            </li>
                        {%endif%}
                        {%if translated_international_diploma_verso%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_international_diploma_verso.id }}" target="_blank">
                                    {% trans 'high_school_diploma'%} - {% trans 'verso'%}
                                </a>
                            </li>
                        {%endif%}
                        {% if translated_high_school_scores_transcript_recto%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_high_school_scores_transcript_recto.id }}" target="_blank">
                                    {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}
                                </a>
                            </li>
                        {%endif%}
                        {%if translated_high_school_scores_transcript_verso%}
                            <li>
                                <a href="../../../../../upload/download/{{ translated_high_school_scores_transcript_verso.id }}" target="_blank">
                                    {% trans 'high_school_diploma_transcript' %} - {% trans 'verso'%}
                                </a>
                            </li>
                        {%endif%}
                    </ul>
                {%else%}
                    -
                {%endif%}
                <br>
            </div>
        </div>
    </div>
</div>
