{% load dictionnary %}
{% load i18n %}
<div class="panel panel-default" id="pnl_local_exam">
    <div class="panel-heading"> {% trans 'local_language_exam' %}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <label>{% trans 'question_local_language_exam' %}</label>
                <br>
                <label class="radio-inline">
                  <input type="radio"
                         name="local_language_exam"
                         id="rdb_local_language_exam_true"
                         value="true"
                         disabled> {% trans 'yes' %}
                </label>
                <label class="radio-inline">
                  <input type="radio"
                         name="local_language_exam"
                         id="rdb_local_language_exam_false"
                         value="false"
                         disabled> {% trans 'no' %}
                </label>
                <br>
                <br>
                {% if professional_exam_link %}
                    {% trans 'further_information' %} : <a target="_blank" href="http://www.uclouvain.be/204100.html">{{professional_exam_link.value}}</a>
                {%endif%}
            </div>
        </div>
        <div id="pnl_local_exam_detail"
             style="{%if local_language_exam %}visibility:visible;display:display;{%else%}visibility:hidden;display:none;{%endif%}">
            <div class="form-inline">
                <br>
                <label>{% trans 'question_date_session' %}</label>
                <input class="form-control"
                       id="txt_local_language_exam_date"
                       name="local_language_exam_date"
                       value="{{local_language_exam.exam_date | default_if_none:''|date:"j/m/Y"}}">
                <br>
                <br>
                <div class="form-group">
                    <label>{% trans 'question_institution_name' %}</label>
                    <input class="form-control"
                           id="txt_local_language_exam_institution"
                           name="local_language_exam_institution"
                           value="{{ local_language_exam.institution | default_if_none:'' }}">
                    <br>
                </div>
            </div>
            <br>
            <br>
            <label>{% trans 'result' %}</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="local_language_exam_result"
                     id="rdb_local_exam_session_succeed"
                     value="SUCCEED"
                     disabled
                     {%if local_language_exam.result = 'SUCCEED'%}checked{%endif%}>
                {% trans 'succeed_result' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="local_language_exam_result"
                     id="rdb_local_exam_session_failed"
                     value="FAILED"
                     disabled
                     {%if local_language_exam.result = 'FAILED'%}checked{%endif%}>
                {% trans 'failed' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="local_language_exam_result"
                     id="rdb_local_exam_enrollment_enrollment_in_progress"
                     value="ENROLLMENT_IN_PROGRESS"
                     disabled
                     {%if local_language_exam.result = 'ENROLLMENT_IN_PROGRESS'%}checked{%endif%}>
               {% trans 'demanded_result' %}
            </label>
            <br>
            <br>

             {%if language_exam_file %}
                <button type="button"
                        class="btn btn-success"
                        title="{% trans 'modify'%} {% trans 'add_success_proof_file' %}"
                        id="bt_load_doc_LANGUAGE_EXAM_CERTIFICATE"
                        data-toggle="modal" data-target="#pnl_upload_documents">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"
                              id="spn_bt_load_doc_LANGUAGE_EXAM_CERTIFICATE"></span> {% trans 'add_success_proof_file' %} - {% trans 'modify' %}
                </button>
             {%else%}
                <button type="button"
                        class="btn btn-default"
                        title="{% trans 'add'%} {% trans 'add_success_proof_file' %}"
                        id="bt_load_doc_LANGUAGE_EXAM_CERTIFICATE"
                        data-toggle="modal" data-target="#pnl_upload_documents">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"
                              id="spn_bt_load_doc_LANGUAGE_EXAM_CERTIFICATE"></span> {% trans 'add_success_proof_file' %} - {% trans 'add' %}
                </button>
             {%endif%}
        </div>
    </div>
</div>
