{% load dictionnary %}
{% load i18n %}

<div class="panel panel-default" id="pnl_local_exam">
    <div class="panel-heading"> {% trans 'local_language_exam' %}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <label>{% trans 'question_local_language_exam' %}</label>
                <br>
                {% if local_language_exam %}
                    {% trans 'yes'%}
                {% else %}
                    {% trans 'no'%}
                {% endif %}
                <br>
                {% if professional_exam_link %}
                    {% trans 'further_information' %} : <a target="_blank" href="http://www.uclouvain.be/204100.html">{{professional_exam_link.value}}</a>
                {%endif%}
            </div>
        </div>
        <div id="pnl_local_exam_detail"
             style="{%if local_language_exam %}visibility:visible;display:display;{%else%}visibility:hidden;display:none;{%endif%}">
            <div class="form-inline">
                <br>
                <label>{% trans 'question_date_session' %}</label>
                <br>
                {{ local_language_exam.exam_date | default_if_none:'-' | date:'d/m/Y' }}
                <br>
                <br>
                <div class="form-group">
                    <label>{% trans 'question_institution_name' %}</label>
                    <br>
                    {{ local_language_exam.institution | default_if_none:'-' }}
                    <br>
                </div>
            </div>
            <br>
            <label>{% trans 'result' %}</label>
            <br>
            {% if local_language_exam.result %}
                {% if local_language_exam.result = 'SUCCEED' %}
                    {% trans 'succeed_result' %}
                {% endif %}
                {% if local_language_exam.result = 'FAILED' %}
                    {% trans 'failed' %}
                {% endif %}
                {% if local_language_exam.result = 'ENROLLMENT_IN_PROGRESS' %}
                    {% trans 'demanded_result' %}
                {% endif %}
            {% else %}
                -
            {% endif %}
            <br>
            <br>
            <label>{% trans 'file' %}</label>
            <br>
             {%if language_exam_file %}
                 <a href="../../../../../upload/download/{{ language_exam_file.id }}"
                    target="_blank"
                    title="{% trans 'success_proof_file' %}" >
                     {% trans 'success_proof_file' %}
                 </a>
             {%else%}
                -
             {%endif%}
        </div>
    </div>
</div>
