{% load dictionnary %}
{% load i18n %}
<div id="pnl_local_detail">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'institution' %}</div>
        <div class="panel-body">
            <label>{% trans 'which_community'%}?</label>
            <br>
            <label>
                <input type="radio"
                       name="local_community"
                       id="rdb_local_community_french"
                       value="FRENCH"
                       disabled> {%trans 'french_belgian_community'%}
            </label>
            <br>
            <label>
              <input type="radio"
                     name="local_community"
                     id="rdb_local_community_dutch"
                     value="DUTCH"
                     disabled> {%trans 'dutch_belgian_community'%}
            </label>
            <br>
            <label>
              <input type="radio"
                     name="local_community"
                     id="rdb_local_community_german"
                     value="GERMAN"
                     disabled> {%trans 'german_belgian_community'%}
            </label>
            <br>
            <br>
            <label>{% trans 'institution_cess_question'%}</label>
            <br>
            {% trans 'institution_cess_help'%}
            <br>
            <br>
            <label>{% trans 'institution' %}&nbsp;&nbsp;</label>
            <br>
            {{ secondary_education.national_institution.name }}, {{ secondary_education.national_institution.city }}
            <br>
            <br>
            <br>
            </div>
    </div>
    <div class="panel panel-default"
         id="pnl_teaching_type">
        <div class="panel-heading">{% trans 'which_type_education' %}</div>
        <div class="panel-body">
            <label>{%trans 'educational_transition'%}</label>
            <br>
            {%for edtype_transition in education_type_transition%}
                <label>
                <input type="radio"
                   name="rdb_education_transition_type"
                   id="rdb_general_transition_{{edtype_transition.id}}"
                   value="{{edtype_transition.id}}"
                   disabled>&nbsp;{{edtype_transition.name}}
                </label>
            {%endfor%}
            <br>
            <br>
            <label>{%trans 'educational_qualification'%}</label>
            <br>
            {%for edtype_qualification in education_type_qualification%}
                <label>
                <input type="radio"
                   name="rdb_education_technic_type"
                   id="rdb_technic_{{edtype_qualification.id}}"
                   value="{{edtype_qualification.id}}"
                   disabled >&nbsp;{{edtype_qualification.name}}
                </label>
                <br>
            {%endfor%}

            <br>
            <div class="row">

                <div >
                    <div class="col-md-8">
                        <label>{%trans 'other_education_type'%}</label>
                        <input class="form-control"
                               id="txt_other_education_type"
                               name="other_education_type">
                    </div>
                </div>
            </div>
        </div>

    </div>
     <div class="panel panel-default" id="pnl_dipl_acc_high_educ">
        <div class="panel-heading">{% trans 'daes' %}</div>
        <div class="panel-body">{% trans 'daes_question'%}

            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="dipl_acc_high_educ"
                     id="rdb_dipl_acc_high_educ_true"
                     value="true"
                     disabled
                     > {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="dipl_acc_high_educ"
                     id="rdb_dipl_acc_high_educ_false"
                     value="false"
                     disabled
                     > {% trans 'no' %}
            </label>
        </div>
    </div>
    <div class="panel panel-default" id="pnl_parcours">
        <div class="panel-heading">{% trans 'path' %}</div>
        <div class="panel-body">
            {% trans 'path_repetition'%}
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="path_repetition"
                     id="rdb_repeated_grade_true"
                     value="true"
                     disabled> {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="path_repetition"
                     id="rdb_repeated_grade_false"
                     value="false"
                     disabled> {% trans 'no' %}
            </label>
            <br><br>
            {% trans 'question_path_reorientation'%}
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="path_reorientation"
                     id="rdb_re_orientation_true"
                     value="true"
                     disabled> {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="path_reorientation"
                     id="rdb_re_orientation_false"
                     value="false"
                     disabled> {% trans 'no' %}
            </label>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'result'%}</div>
        <div class="panel-body">
            <label>{% trans 'which_result'%}</label>
            <br>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_less_65"
                     value="LOW"
                     disabled>&nbsp;{% trans 'low_result'%}
            </label>
            <label class="radio-inline">
               <input type="radio"
                      name="result"
                      id="rdb_result_between_65_75"
                      value="MIDDLE"
                      disabled>&nbsp;{% trans 'middle_result'%}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="result"
                     id="rdb_result_more_75"
                     value="HIGH"
                     disabled>&nbsp;{% trans 'high_result'%}
            </label>
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">{% trans 'files' %}</div>
        <div class="panel-body">
            <ul>
                {%if national_diploma_recto%}
                    <li>
                        <a href="../../../../../upload/download/{{ national_diploma_recto.id }}" target="_blank">
                            {% trans 'high_school_diploma'%} - {% trans 'recto'%}
                        </a>
                    </li>
                {%endif%}
                {%if national_diploma_verso%}
                    <li>
                        <a href="../../../../../upload/download/{{ national_diploma_verso.id }}" target="_blank">
                            {% trans 'high_school_diploma'%} - {% trans 'verso'%}
                        </a>
                    </li>
                {%endif%}
                {%if high_school_scores_transcript_recto%}
                    <li>
                        <a href="../../../../../upload/download/{{ high_school_scores_transcript_recto.id }}" target="_blank">
                            {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}
                        </a>
                    </li>
                {%endif%}
                {%if high_school_scores_transcript_verso%}
                    <li>
                        <a href="../../../../../upload/download/{{ high_school_scores_transcript_verso.id }}" target="_blank">
                            {% trans 'high_school_diploma_transcript'%} - {% trans 'verso'%}
                        </a>
                    </li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>
