{% load dictionnary %}
{% load i18n %}

<div id="pnl_local_detail">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'institution' %}</div>
        <div class="panel-body">
            <label>{% trans 'which_community'%}?</label>
            <br>
            {{ secondary_education.national_community | default_if_none:'-' }}
            <br>
            <br>
            <label>{% trans 'institution_cess_question'%}</label>
            <br>
            <br>
            {{ secondary_education.national_institution.name }}, {{ secondary_education.national_institution.city }}
            <br>
            <br>
            <br>
            </div>
    </div>
    <div class="panel panel-default"
         id="pnl_teaching_type">
        <div class="panel-heading">{% trans 'which_type_education' %}</div>
        <div class="panel-body">
            <label>{%trans 'educational_transition'%}</label>
            <br>
            {{ secondary_education.education_type | default_if_none:'-'  }}
            <br>
        </div>

    </div>
     <div class="panel panel-default" id="pnl_dipl_acc_high_educ">
        <div class="panel-heading">{% trans 'daes' %}</div>
        <div class="panel-body">{% trans 'daes_question'%}

            <br>
            <label class="radio-inline">

              <input type="radio"
                     name="dipl_acc_high_educ"
                     id="rdb_dipl_acc_high_educ_true"
                     value="true"
                     disabled
                     > {% trans 'yes' %}
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="dipl_acc_high_educ"
                     id="rdb_dipl_acc_high_educ_false"
                     value="false"
                     disabled
                     > {% trans 'no' %}
            </label>
        </div>
    </div>
    <div class="panel panel-default" id="pnl_parcours">
        <div class="panel-heading">{% trans 'path' %}</div>
        <div class="panel-body">
            <label>{% trans 'path_repetition'%}</label>
            <br>
            {% if secondary_education.path_repetition %}
                {% trans 'yes'%}
            {% else %}
                {% trans 'no'%}
            {% endif %}
            <br><br>
            <label>{% trans 'question_path_reorientation'%}</label>
            <br>
            {% if secondary_education.path_reorientation %}
                {% trans 'yes'%}
            {% else %}
                {% trans 'no'%}
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'result'%}</div>
        <div class="panel-body">
            <label>{% trans 'which_result'%}</label>
            <br>
            {% if  secondary_education.result %}
                {% trans secondary_education.result %}
            {% else %}
                -
            {% endif %}

        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">{% trans 'files' %}</div>
        <div class="panel-body">
            <ul>
                {%if national_diploma_recto%}
                    <li>
                        <a href="../../../../../upload/download/{{ national_diploma_recto.id }}" target="_blank">
                            {% trans 'high_school_diploma'%} - {% trans 'recto'%}
                        </a>
                    </li>
                {%endif%}
                {%if national_diploma_verso%}
                    <li>
                        <a href="../../../../../upload/download/{{ national_diploma_verso.id }}" target="_blank">
                            {% trans 'high_school_diploma'%} - {% trans 'verso'%}
                        </a>
                    </li>
                {%endif%}
                {%if high_school_scores_transcript_recto%}
                    <li>
                        <a href="../../../../../upload/download/{{ high_school_scores_transcript_recto.id }}" target="_blank">
                            {% trans 'high_school_diploma_transcript'%} - {% trans 'recto'%}
                        </a>
                    </li>
                {%endif%}
                {%if high_school_scores_transcript_verso%}
                    <li>
                        <a href="../../../../../upload/download/{{ high_school_scores_transcript_verso.id }}" target="_blank">
                            {% trans 'high_school_diploma_transcript'%} - {% trans 'verso'%}
                        </a>
                    </li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>
