{% load dictionnary %}
{% load i18n %}

 <div class="panel panel-default" id="pnl_professinal_experience">
        <div class="panel-heading">{% trans 'professional_experiences'%}</div>
        <div class="panel-body">
            <label>{%trans 'question_professional_experience'%}</label>
            <br>
            {% if professional_exam %}
                {% trans 'yes'%}
            {% else %}
                {% trans 'no'%}
            {% endif %}
            <br>
            {% if local_language_exam_link %}
                {% trans 'vae_information' %} : <a href="https://www.uclouvain.be/vae.html">{{local_language_exam_link.value}}</a>
            {%endif%}
        <div id="pnl_professional_experience_detail"
             style="{% if professional_exam%}visibility:visible;display:block;{%else%}visibility:hidden;display:none;{%endif%}">
            <div class="form-inline">
                <br>
                <label>{% trans 'question_date_session'%}</label>
                <br>
                {{ professional_exam.exam_date | default_if_none:'' | date:'d/m/Y' }}

                <br><br>
                <label>{% trans 'question_institution_name_nice' %}</label>
                <br>
                {{ professional_exam.institution }}
                <br>
            </div>
            <br>
            <label>{% trans 'which_result' %}</label>
            <br>
            {% if professional_exam.result %}
                {% trans  professional_exam.result %}
            {% else %}
                -
            {% endif %}
            <br>
            <br>
            <label>{% trans 'file' %}</label>
            <br>
            {%if professional_exam_file %}
                <a href="../../../../../upload/download/{{ professional_exam_file.id }}" target="_blank">
                    {% trans 'add_professional_exam_file' %}
                </a>
            {%else%}
                -
            {%endif%}
        </div>

    </div>
</div>